body {
    margin: 0;
    padding: 0;
    background-color: #EBEBEB;
}
h1 {
    margin: 0;
}
a {
    text-decoration: none;
    color: #322203;
}
.navbar {
    /* font-weight: 100; */
    background-color: #EBEBEB;
    margin: 0;
    padding: 10px 20px;
}
.navbar-nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding-top: 10px;
}

.navbar-nav-s {
    font-size: 15px;
}
.navbar-nav-p {
    font-size: 31.1px;
    color: #322203;
}
.background {
    background-image: url("../Images/fondo.jpg");
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.background-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
}
.background-text h1 {
    font-size: 40px;
}
.background-text p {
    font-size: 17px;
}
.button{
    background-color: white;
    padding: 0px 20px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* border: 0px; */
}
.button p {
    font-size: 9.4px;
}
.button:hover {
    cursor: pointer;
}
#services{
    padding:7% 15%;
}
#services div {
    display: flex;
    /* flex-direction: row; */
}
.services-title {
    justify-content: center;
    font-size: 20px;
}
.services-box {
    text-align: center;
    padding: 5%;
    flex-direction: column;
}
.img{
    width: 200px;
    height: 200px;
}
#maintenance{
    padding:0% 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
}
#maintenance img {
    height: 400px;
    width: 400px;
}
#maintenance h3 {
    opacity: 0.8;
}
.maintenance-title {
    font-size: 30px;
}
.contenedor {
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
}
/* .contenedor h3 {
    text-align: center;
} */

/* Contacto */

.formulario {
    background-color: white;
    margin: 0 auto 0 auto;
    width: 80%;
    padding: 2.5rem;
}
.formulario h3 {
    text-align: center;
    font-size: 30px;
}
.campo {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
}
.campo__label {
    flex: 0 0 60px;
    text-align: right;
}
.campo__field {
    flex: 1;
    border: 1px solid #9b9b9b;
}
.campo__field--textarea {
    height: 20rem;
}
#mensaje {
    margin-bottom: 36px;
}
@media (max-width: 768px) {
    .formulario {
        padding-left: 0px;
        margin-left: 0px;
    }
}

.boton {
    display:block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    border: none;
    background-color: black;
}
input {
    font-size: 100%;
}